<!-- 
  @Author: Your name
  @Date:   2022-01-10 15:55:38
  @Last Modified by:   Your name
  @Last Modified time: 2022-01-10 17:19:14
-->
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
{% comment %} <style>
    .main{
    min-height: 73vh;
    }
</style> {% endcomment %}
<div class="container my-5">
    <div class="main">
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{% url 'headphone' %}" class="list-group-item list-group-item-action">All Headphone</a>
                    <a href="{% url 'headphonedata' 'Boat' %}" class="list-group-item list-group-item-action">Boat</a>
                    <a href="{% url 'headphonedata' 'Boalt' %}" class="list-group-item list-group-item-action">Boalt</a>
                    <a href="{% url 'headphonedata' 'Infinity' %}" class="list-group-item list-group-item-action">Infinity</a>
                    <a href="{% url 'headphonedata' 'below' %}" class="list-group-item list-group-item-action">Below 1000</a>
                    <a href="{% url 'headphonedata' 'above' %}" class="list-group-item list-group-item-action">Above 1000</a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    {% for product in headphones %}
                    <div class="col-sm-4 text-center mb-4">
                        <a href="{% url 'product-detail' product.id %}" class="btn">
                            <div class="item">
                                <img src="{{product.product_image.url}}" alt="" height="300" class="">
                                <div class="fw-bold">{{product.title}}</div>
                                <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main-content %}